USE [master]
GO
/****** Object:  Database [mvcblog]    Script Date: 30.07.2020 12:23:00 ******/
CREATE DATABASE [mvcblog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mvcblog', FILENAME = N'i:\reposs\Veri Tabanı\mvcblog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mvcblog_log', FILENAME = N'i:\reposs\Veri Tabanı\mvcblog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mvcblog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mvcblog]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30.07.2020 12:23:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiket]    Script Date: 30.07.2020 12:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiket](
	[Etiketid] [int] IDENTITY(1,1) NOT NULL,
	[EtiketAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Etiket] PRIMARY KEY CLUSTERED 
(
	[Etiketid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 30.07.2020 12:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[Kategoriid] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[Kategoriid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makale]    Script Date: 30.07.2020 12:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makale](
	[Makaleid] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](500) NULL,
	[Icerik] [nvarchar](max) NULL,
	[Foto] [nvarchar](500) NULL,
	[Tarih] [datetime] NULL,
	[Kategoriid] [int] NULL,
	[Uyeid] [int] NULL,
	[Okuma] [int] NULL,
 CONSTRAINT [PK_dbo.Makale] PRIMARY KEY CLUSTERED 
(
	[Makaleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MakaleEtiket]    Script Date: 30.07.2020 12:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MakaleEtiket](
	[Etiketid] [int] NOT NULL,
	[Makaleid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MakaleEtiket] PRIMARY KEY CLUSTERED 
(
	[Etiketid] ASC,
	[Makaleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uye]    Script Date: 30.07.2020 12:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uye](
	[Uyeid] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Sifre] [nvarchar](20) NULL,
	[AdSoyad] [nvarchar](50) NULL,
	[Foto] [nvarchar](250) NULL,
	[Yetkiid] [int] NULL,
 CONSTRAINT [PK_dbo.Uye] PRIMARY KEY CLUSTERED 
(
	[Uyeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yetki]    Script Date: 30.07.2020 12:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetki](
	[Yetkiid] [int] IDENTITY(1,1) NOT NULL,
	[Yetki] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Yetki] PRIMARY KEY CLUSTERED 
(
	[Yetkiid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorum]    Script Date: 30.07.2020 12:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorum](
	[Yorumid] [int] IDENTITY(1,1) NOT NULL,
	[Icerik] [nvarchar](500) NULL,
	[Uyeid] [int] NULL,
	[Makaleid] [int] NULL,
	[Tarih] [datetime] NULL,
 CONSTRAINT [PK_dbo.Yorum] PRIMARY KEY CLUSTERED 
(
	[Yorumid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Etiket] ON 

INSERT [dbo].[Etiket] ([Etiketid], [EtiketAdi]) VALUES (1, N'F1')
INSERT [dbo].[Etiket] ([Etiketid], [EtiketAdi]) VALUES (2, N'Futbol')
INSERT [dbo].[Etiket] ([Etiketid], [EtiketAdi]) VALUES (3, N'Basketbol')
SET IDENTITY_INSERT [dbo].[Etiket] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([Kategoriid], [KategoriAdi]) VALUES (1, N'F1')
INSERT [dbo].[Kategori] ([Kategoriid], [KategoriAdi]) VALUES (2, N'Futbol')
INSERT [dbo].[Kategori] ([Kategoriid], [KategoriAdi]) VALUES (3, N'Basketbol')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[Makale] ON 

INSERT [dbo].[Makale] ([Makaleid], [Baslik], [Icerik], [Foto], [Tarih], [Kategoriid], [Uyeid], [Okuma]) VALUES (3, N'F1 Tarihi', N'<p>adkgsajdghsadgjashgdhasgdhsahgdhsadgas</p>', N'/Uploads/MakaleFoto/7cca531c-5e84-47ed-b96a-0322421847a0.png', CAST(N'2019-10-10T00:00:00.000' AS DateTime), 1, 4, 6)
INSERT [dbo].[Makale] ([Makaleid], [Baslik], [Icerik], [Foto], [Tarih], [Kategoriid], [Uyeid], [Okuma]) VALUES (4, N'Gassarayın hali', N'<p>&ccedil;ok k&ouml;t&uuml; takım olduk. 8 ma&ccedil; 1 win</p>', N'/Uploads/MakaleFoto/de5c082f-06f0-4c34-a7c6-52ee101f6376.jpg', NULL, 2, 4, 4)
SET IDENTITY_INSERT [dbo].[Makale] OFF
GO
INSERT [dbo].[MakaleEtiket] ([Etiketid], [Makaleid]) VALUES (1, 3)
INSERT [dbo].[MakaleEtiket] ([Etiketid], [Makaleid]) VALUES (7, 4)
GO
SET IDENTITY_INSERT [dbo].[Uye] ON 

INSERT [dbo].[Uye] ([Uyeid], [KullaniciAdi], [Email], [Sifre], [AdSoyad], [Foto], [Yetkiid]) VALUES (4, N'onur', N'onur@hotmail.com', N'1234', N'onuronur', N'/Uploads/UyeFoto/71c8c93e-48a3-4cda-a8b5-bb420f37d755.jpg', 1)
INSERT [dbo].[Uye] ([Uyeid], [KullaniciAdi], [Email], [Sifre], [AdSoyad], [Foto], [Yetkiid]) VALUES (6, N'asdas', N'asdas@hotmail.com', N'1234', N'onurözbek', N'/Uploads/UyeFoto/b692e842-1d19-4f63-a190-59254ccf57c2.jpg', 2)
INSERT [dbo].[Uye] ([Uyeid], [KullaniciAdi], [Email], [Sifre], [AdSoyad], [Foto], [Yetkiid]) VALUES (7, N'dasd', N'asdas@hotmail.com', N'1234', N'onurözbek', N'/Uploads/UyeFoto/6259287c-f352-4ac9-9ef6-73b64de36f5f.jpg', 2)
SET IDENTITY_INSERT [dbo].[Uye] OFF
GO
SET IDENTITY_INSERT [dbo].[Yetki] ON 

INSERT [dbo].[Yetki] ([Yetkiid], [Yetki]) VALUES (1, N'admin')
INSERT [dbo].[Yetki] ([Yetkiid], [Yetki]) VALUES (2, N'yazar')
SET IDENTITY_INSERT [dbo].[Yetki] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorum] ON 

INSERT [dbo].[Yorum] ([Yorumid], [Icerik], [Uyeid], [Makaleid], [Tarih]) VALUES (1, N'harika', 4, 3, CAST(N'2020-10-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Yorum] ([Yorumid], [Icerik], [Uyeid], [Makaleid], [Tarih]) VALUES (2, N'güzel', 4, 3, CAST(N'2020-07-27T15:01:13.743' AS DateTime))
SET IDENTITY_INSERT [dbo].[Yorum] OFF
GO
/****** Object:  Index [IX_Kategoriid]    Script Date: 30.07.2020 12:23:01 ******/
CREATE NONCLUSTERED INDEX [IX_Kategoriid] ON [dbo].[Makale]
(
	[Kategoriid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uyeid]    Script Date: 30.07.2020 12:23:01 ******/
CREATE NONCLUSTERED INDEX [IX_Uyeid] ON [dbo].[Makale]
(
	[Uyeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Etiketid]    Script Date: 30.07.2020 12:23:01 ******/
CREATE NONCLUSTERED INDEX [IX_Etiketid] ON [dbo].[MakaleEtiket]
(
	[Etiketid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Makaleid]    Script Date: 30.07.2020 12:23:01 ******/
CREATE NONCLUSTERED INDEX [IX_Makaleid] ON [dbo].[MakaleEtiket]
(
	[Makaleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Yetkiid]    Script Date: 30.07.2020 12:23:01 ******/
CREATE NONCLUSTERED INDEX [IX_Yetkiid] ON [dbo].[Uye]
(
	[Yetkiid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Makaleid]    Script Date: 30.07.2020 12:23:01 ******/
CREATE NONCLUSTERED INDEX [IX_Makaleid] ON [dbo].[Yorum]
(
	[Makaleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uyeid]    Script Date: 30.07.2020 12:23:01 ******/
CREATE NONCLUSTERED INDEX [IX_Uyeid] ON [dbo].[Yorum]
(
	[Uyeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Makale]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Makale_dbo.Kategori_Kategoriid] FOREIGN KEY([Kategoriid])
REFERENCES [dbo].[Kategori] ([Kategoriid])
GO
ALTER TABLE [dbo].[Makale] CHECK CONSTRAINT [FK_dbo.Makale_dbo.Kategori_Kategoriid]
GO
ALTER TABLE [dbo].[Makale]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Makale_dbo.Uye_Uyeid] FOREIGN KEY([Uyeid])
REFERENCES [dbo].[Uye] ([Uyeid])
GO
ALTER TABLE [dbo].[Makale] CHECK CONSTRAINT [FK_dbo.Makale_dbo.Uye_Uyeid]
GO
ALTER TABLE [dbo].[MakaleEtiket]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MakaleEtiket_dbo.Etiket_Etiketid] FOREIGN KEY([Etiketid])
REFERENCES [dbo].[Etiket] ([Etiketid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MakaleEtiket] CHECK CONSTRAINT [FK_dbo.MakaleEtiket_dbo.Etiket_Etiketid]
GO
ALTER TABLE [dbo].[MakaleEtiket]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MakaleEtiket_dbo.Makale_Makaleid] FOREIGN KEY([Makaleid])
REFERENCES [dbo].[Makale] ([Makaleid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MakaleEtiket] CHECK CONSTRAINT [FK_dbo.MakaleEtiket_dbo.Makale_Makaleid]
GO
ALTER TABLE [dbo].[Uye]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uye_dbo.Yetki_Yetkiid] FOREIGN KEY([Yetkiid])
REFERENCES [dbo].[Yetki] ([Yetkiid])
GO
ALTER TABLE [dbo].[Uye] CHECK CONSTRAINT [FK_dbo.Uye_dbo.Yetki_Yetkiid]
GO
ALTER TABLE [dbo].[Yorum]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorum_dbo.Makale_Makaleid] FOREIGN KEY([Makaleid])
REFERENCES [dbo].[Makale] ([Makaleid])
GO
ALTER TABLE [dbo].[Yorum] CHECK CONSTRAINT [FK_dbo.Yorum_dbo.Makale_Makaleid]
GO
ALTER TABLE [dbo].[Yorum]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorum_dbo.Uye_Uyeid] FOREIGN KEY([Uyeid])
REFERENCES [dbo].[Uye] ([Uyeid])
GO
ALTER TABLE [dbo].[Yorum] CHECK CONSTRAINT [FK_dbo.Yorum_dbo.Uye_Uyeid]
GO
USE [master]
GO
