
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="container">
    <div class="row">
    <div class="col-md-6">
        <h2 class="card-header">İLETİŞİM</h2>
    </div>
    <hr />

    <iframe width="560" height="315" src="https://www.youtube.com/embed/jE4vAzulayw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>Benim Youtube kanalımdan bir video</iframe>
    <div class="col-md-12">
        <a href="https://www.facebook.com/TheShooTeRr" target="_blank" class="fa fa-facebook"> Facebook</a>
        <a href="https://twitter.com/home" target="_blank" class="fa fa-twitter"> Twitter </a>
        <a href="https://www.youtube.com/channel/UCy24CLzEoNhReBRqJ-zB98w?view_as=subscriber" target="_blank" class="fa fa-youtube-square">Youtube</a>
        <a href="#"  target="_blank" class="fa fa-linkedin-square">LinkedIn</a>
    </div>
    </div>
</div>